.category-page{
  padding-top: 58px;
  text-align: center;
  
  .title{
    padding-top: 28px;
    color: #5f5f5f;
    font-weight: 500;
  }


  .price{
    color: #171717;
    font-weight: 500;
  }
}